<div class="sidebar p-3">
  <!-- Product Brand -->
  <h6 class="fw-bold">Product Brand</h6>
  <div class="product-brand">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="brand1" checked />
      <label class="form-check-label" for="brand1">Coaster Furniture</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="brand2" checked />
      <label class="form-check-label" for="brand2"
        >Fusion Dot High Fashion</label
      >
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="brand3" checked />
      <label class="form-check-label" for="brand3"
        >Unique Furniture Restor</label
      >
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="brand4" checked />
      <label class="form-check-label" for="brand4"
        >Dream Furniture Flipping</label
      >
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="brand5" checked />
      <label class="form-check-label" for="brand5">Young Repurposed</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="brand6" checked />
      <label class="form-check-label" for="brand6">Green DIY Furniture</label>
    </div>
  </div>
  <!-- Discount Offer -->
  <h6 class="fw-bold mt-3">Discount Offer</h6>
  <div class="discount-offer">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="discount1" checked />
      <label class="form-check-label" for="discount1">20% Cashback</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="discount2" checked />
      <label class="form-check-label" for="discount2">5% Cashback Offer</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="discount3" checked />
      <label class="form-check-label" for="discount3">25% Discount Offer</label>
    </div>
  </div>

  <!-- Rating Item -->
  <h6 class="fw-bold mt-3">Rating Item</h6>
  <div class="rating-item d-flex flex-column gap-1">
    <div class="d-flex flex-column">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="rating1" checked>
        <label class="form-check-label" for="rating1">
          <star-rating [starType]="'svg'" [readOnly]="true" [rating]="1" staticColor="ok"></star-rating>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="rating2" checked>
        <label class="form-check-label" for="rating2">
          <star-rating [starType]="'svg'" [readOnly]="true" [rating]="2" staticColor="ok"></star-rating>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="rating3" checked>
        <label class="form-check-label" for="rating3">
          <star-rating [starType]="'svg'"  [readOnly]="true" [rating]="3" staticColor="ok"></star-rating>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="rating4" checked>
        <label class="form-check-label" for="rating4">
          <star-rating [starType]="'svg'" [readOnly]="true" [rating]="4" staticColor="ok"></star-rating>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="rating5" checked>
        <label class="form-check-label" for="rating5">
          <star-rating [starType]="'svg'" [readOnly]="true" [rating]="5" staticColor="ok"></star-rating>
        </label>
      </div>
    </div>

  </div>

  <!-- Categories -->
  <h6 class="fw-bold mt-3">Categories</h6>
  <div class="categories">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" checked />
      <label class="form-check-label">Prestashop</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" checked />
      <label class="form-check-label">Magento</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" checked />
      <label class="form-check-label">Bigcommerce</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" checked />
      <label class="form-check-label">osCommerce</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" checked />
      <label class="form-check-label">3dcart</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" checked />
      <label class="form-check-label">Bags</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" checked />
      <label class="form-check-label">Watches</label>
    </div>
  </div>

  <!-- Price Filter -->
  <h6 class="fw-bold mx-3">Price Filter</h6>
  <div class="price-filter">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" checked />
      <label class="form-check-label">$0.00 - $150.00</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" checked />
      <label class="form-check-label">$150.00 - $350.00</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" checked />
      <label class="form-check-label">$150.00 - $504.00</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" checked />
      <label class="form-check-label">$450.00 +</label>
    </div>
    <input
      type="text"
      class="form-control mt-2"
      placeholder="$10.00 - 20000$"
    />
  </div>

  <!-- Filter By Color -->
  <h6 class="fw-bold mt-3">Filter By Color</h6>
  <div class="d-flex flex-wrap gap-2">
    <div class="d-flex align-items-center gap-1">
      <span class="badge bg-primary rounded-circle"></span>
      <p class="mb-0">Blue</p>
    </div>
    <div class="d-flex align-items-center gap-1">
      <span class="badge bg-warning rounded-circle"></span>
      <p class="mb-0">Orange</p>
    </div>
    <div class="d-flex align-items-center gap-1">
      <span class="badge bg-brown rounded-circle"></span>
      <p class="mb-0">Brown</p>
    </div>
    <div class="d-flex align-items-center gap-1">
      <span class="badge bg-success rounded-circle"></span>
      <p class="mb-0">Green</p>
    </div>
    <div class="d-flex align-items-center gap-1">
      <span class="badge bg-purple rounded-circle"></span>
      <p class="mb-0">Purple</p>
    </div>
    <div class="d-flex align-items-center gap-1">
      <span class="badge bg-info rounded-circle"></span>
      <p class="mb-0">Sky</p>
    </div>
  </div>
</div>
