
:host::ng-deep {
  .product-list {
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    .product-card {
      scroll-snap-align: start;
    }
  }

  .product-info {
    row-gap: 5px;
    .product-title {
      font-size: clamp(16px, 2vw, 22px);
      color: var(--text-color);
      font-weight: bold;
    }
  }

  .details-btn {
    background-color: var(--accent-color);
    color: white;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: none;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }
  }

}

.indicators li {
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  list-style: none;
  cursor: pointer;
  background-color: rgb(from var(--accent-color) r g b/ 0.4);
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: rgb(from var(--accent-color) r g b/ 0.6);
  }
  &.active {
    background-color: rgb(from var(--accent-color) r g b/ 1);
  }
}

