

li a,p,input::placeholder {
  color: #8A8FB9 !important;
}
li a:hover {
  color: var(--sectionHover-color) !important;
}

i:hover {

  color: var(--sectionHover-color) !important;
}

button {
  text-wrap: nowrap;
}
