button {
  background-color:  rgb(from var(--accent-color) r g b / 0.9);
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.2s ease-in-out;
  &:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgb(from var(--accent-color) r g b / 1) ;
  }
}

.subscription-section {
  min-height: 300px;
  overflow: hidden;
}

.subscription-bg {
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
