.nav-link.active {
  --bs-nav-tabs-link-active-border-color:
    #c8c8c8 #c8c8c8 #c8c8c8;
  box-shadow: 0px 2px 0px -1px white;
  border-bottom: none;
}
.border-bottom {
  --bs-border-color:#c8c8c8;
}
