/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import 'css-star-rating/scss/star-rating';

:root {
  // Basic colors
  --accent-color: #FB2E86;
  --priceTag-color: #FB2448;
  --sectionHover-color: #2F1AC4;
  --pantonePurple-color: #E0D3F5;
  --text-color: #151875;
  --saleTage-color: #3F509E;
  --violet-color: #7E33E0;
  --ugsadug-color: #9F63B5;
  --skyBlue-color: #00C1FE;
  --section-text-color:#1A0B5B;
  // Gradient colors
  --blueGradiant-color: linear-gradient(145deg, #1389FF 0%, #1DB4E7 100%);
  --cyanGradiant-color: linear-gradient(145deg, #24D2FF 0%, #19A7F9 100%);
  --pinkGradiant-color: linear-gradient(145deg, #FA3BE5 0%, #FF28A0 100%);
  --greenGradiant-color: linear-gradient(145deg, #36E6D5 0%, #27E862 100%);
  --purpleGradiant-color: linear-gradient(145deg, #5465FF 0%, #B654EF 100%);
  --subText-color: linear-gradient(145deg, #F3F9FF 0%, #F1F0FF 100%);
}




body {
  font-family: "Josefin Sans", serif , var(--bs-body-font-family);
  box-sizing: border-box;
}

h1 {
  margin:0;
  padding: 0;
}
p {
  margin:0;
  padding:0;
}
