.active {
  color: var(--accent-color);
  text-decoration: underline;
}

.tab {
  cursor: pointer;
  &:hover:not(.active) {
    p {
      color: var(--sectionHover-color);
    }
  }
}

.discount {
  &-title {
    color: var(--text-color);
  }
  &-subtitle {
    color: var(--accent-color);
  }
}

button {
  width: fit-content;
  padding: 10px;
}
