<div class="container py-5">

  <div class="section-header">
    <h1>Discount Item</h1>
  </div>


  <div class="category-tabs d-flex align-items-center justify-content-center gap-lg-4 gap-2 py-4">
    <div class="tab active">
      <p>Living Room</p>
    </div>
    <div class="tab">
      <p>Bedroom</p>
    </div>
    <div class="tab">
      <p>Kitchen</p>
    </div>
    <div class="tab">
      <p>Special Offer</p>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-6 d-flex flex-column gap-2">
      <p class="discount-title fw-bold fs-2">20% Discount Of All Products</p>
      <p class="discount-subtitle fs-5 ">Eames Sofa Compact</p>
      <p class="discount-description text-secondary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu eget feugiat habitasse nec, bibendum condimentum.
      </p>

      <div class="row">
        <div class="col-6">
          <p class="fw-medium text-muted"><i class="fa-solid fa-check text-success me-2"></i> Material expose like metals</p>
          <p class="fw-medium text-muted"><i class="fa-solid fa-check text-success me-2"></i> Clear lines and geometric figures</p>
        </div>
        <div class="col-6">
          <p class="fw-medium text-muted"><i class="fa-solid fa-check text-success me-2"></i> Simple neutral colors</p>
          <p class="fw-medium text-muted" ><i class="fa-solid fa-check text-success me-2"></i> Material expose like metals</p>
        </div>
      </div>

      <button class="btn btn-danger rounded-0 mt-3">Shop Now</button>
    </div>

    <div class="col-md-6">
      <div class="rounded-3 overflow-hidden d-flex justify-content-center align-items-center" style="height: 350px;">
        <img src="/assets/imgs/Group 154.png" class="w-100 h-100 object-fit-contain" alt="Discount Product">
      </div>
    </div>
  </div>
</div>
