<div class="container">
  <div class="section-header">
    <h1>Latest Products</h1>
  </div>

  <div class="category-tabs d-flex align-items-center justify-content-center gap-lg-4 gap-2 py-4">
    <div class="tab active">
      <p>New Arrival</p>
    </div>
    <div class="tab">
      <p>Best Seller</p>
    </div>
    <div class="tab">
      <p>Featured</p>
    </div>
    <div class="tab">
      <p>Special Offer</p>
    </div>
  </div>

  <div class="row product-list row-gap-4 pb-4">

    <div class="col-sm-6 col-md-4 col-lg-3 col-6"  *ngFor="let product of products">
      <app-product-card
        [imageSrc]="product.imageSrc"
        [title]="product.title"
        [currentPrice]="product.currentPrice"
        [originalPrice]="product.originalPrice"
        [isFeatured]="false">
      </app-product-card>
    </div>
  </div>
  <div ></div>
</div>
