<div class="container">
  <div class="wrapper">
    <div class="header">
      <p class="tagline">Best Furniture For Your Castle....</p>
      <h1 class="main-title">New Furniture Collection Trends in 2020</h1>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna in est adipiscing
        in phasellus non in justo.</p>
      <button class="shop-btn btn ">
        <a href="#" class="shop-link text-decoration-none">Shop Now</a>
      </button>
    </div>
    <div class="promotional-img">
      <img src="assets/sofa promotional header.png" alt="Sofa Promotional Header" class="promo-image">
    </div>
  </div>
</div>
