.wrapper {
  display: flex;
  align-items: center;
}
.header {
  max-width: 50%;
}
.tagline{
  color: var(--accent-color);
}
.main-title{
  font-size: clamp(36px, 5vw, 53px);
  line-height: 82px;
  margin: 20px 0;
}
.description{
  color: var(--saleTage-color);
  margin: 20px 0;
}
.shop-btn{
  background-color:  rgb(from var(--accent-color) r g b / 0.9);
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: rgb(from var(--accent-color) r g b / 1) ;
    transform: scale(1.02);
    .shop-link{
      color: rgba(255, 255, 255, 1);
    }
  }
  .shop-link{
    color: rgba(255, 255, 255, 0.9);
  }
}
.promotional-img {
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.promo-image{

}
