.wrapper {
  background: var(--violet-color);
}
.heading-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 14px;
}

.phone,.login,.cart,.email {
  cursor: pointer;
}
.contact, .email, .phone, .user-actions, .login, .cart, .lang, .currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email, .phone, .login, .lang, .currency,.cart {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  svg {
    margin: 2px;
    display: inline-block;
  }
}
p {
  margin: 2px;
  display: inline-block;
}

svg {
  width: 20px;
  height: 20px;
}


@media (max-width: 767px) {
  .email, .phone {
    position: relative;
    p {
      display: none;
    }
  }
}
