.wrapper {
  background: var(--violet-color);
}
.heading-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 14px;
}

.phone,.login,.cart,.email,.currency,.lang {
  cursor: pointer;
}
.contact, .email, .phone, .user-actions, .login, .cart, .lang, .currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email, .phone, .login, .lang, .currency,.cart {
  padding: 5px; // Increased padding for better spacing
  margin: 5px;
  border-radius: 5px; // Optional: for a rounded look
  svg {
    padding: 2px;
    margin: 2px;
  }
}
p {
  line-height: 1; // Prevent extra height
}
// Ensure icons are centered in flex items
svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}


@media (max-width: 767px) {
  .email, .phone {
    position: relative;
    p {
      display: none;
    }
  }
}
