<div class="wrapper">
  <div class="container">
    <nav class="heading-nav">
      <div class="contact">
        <div class="email">
          <i class="fa-solid fa-envelope"></i>
          <p>mhhasanul&#64;gmail.com</p>
        </div>
        <div class="phone">
          <i class="fa-solid fa-phone-volume"></i>
          <p>(12345)67890</p>
        </div>
      </div>
      <div class="user-actions">
        <div class="lang">
          <p>EN</p>
          <i class="fa-solid fa-globe"></i>
        </div>
        <div class="currency">
          <p>USD</p>
          <i class="fa-solid fa-dollar-sign"></i>
        </div>
        <div class="login">
          <p>login</p>
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="cart">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </div>
    </nav>
  </div>
</div>
