<section class="latest-blog-section py-5">
  <div class="section-header">
    <h1>Leatest Blog</h1>
  </div>
  <div class="container">
    <div class="row g-4">

      <div class="col-md-4">
        <div class="blog-card card p-3 h-100">
          <img src="/assets/imgs/JIUjvqe2ZHg.jpg" class="w-100 rounded-3 mb-3 blog-img" alt="Blog Image">
          <p class="text-muted small">March 1, 2025 | By John Doe</p>
          <h5 class="fw-bold blog-title">The Future of Home Design: Trends & Ideas for 2025</h5>
          <p class="text-secondary blog-description">
            Discover the latest trends shaping modern home interiors, and how you can incorporate them into your space...
          </p>
          <a href="#" class="text-danger read-more text-decoration-underline fw-semibold">Read More</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="blog-card card p-3 h-100">
          <img src="/assets/imgs/2dcYhvbHV-M.jpg" class="w-100 rounded-3 mb-3 blog-img" alt="Blog Image">
          <p class="text-muted small">February 20, 2025 | By Sarah Smith</p>
          <h5 class="fw-bold blog-title">Sustainable Furniture: Eco-Friendly Choices</h5>
          <p class="text-secondary blog-description">
            Learn how eco-friendly furniture can transform your space while being mindful of the environment...
          </p>
          <a href="#" class="read-more text-danger text-decoration-underline fw-semibold">Read More</a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="blog-card card p-3 h-100">
          <img src="/assets/imgs/JIUjvqe2ZHg.jpg" class="w-100 rounded-3 mb-3 blog-img" alt="Blog Image">
          <p class="text-muted small">January 15, 2025 | By Alex Brown</p>
          <h5 class="fw-bold blog-title">Minimalist Living Spaces: Simplicity and Comfort</h5>
          <p class="text-secondary blog-description">
            Explore how minimalism enhances comfort and style in your home with elegant and simple design choices...
          </p>
          <a href="#" class=" read-more text-danger text-decoration-underline fw-semibold">Read More</a>
        </div>
      </div>

    </div>
  </div>
</section>
